---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<h1>Home <span>page</span></h1>
</MainLayout>

<style lang="scss">
	h1 {
		color: red;
		span {
			color: blue;
		}
	}
</style>
