---
// library imports
import { Icon } from "astro-icon"

// component imports
import Link from "./Link.astro"

// data imports
import navData from "../data/navData.js"
---

<nav aria-label="Primary">
	<div class="navbar">
		<a class="logomark" href="/" aria-label="Go home">
			<Icon name="logomark" width="60" />
		</a>
		<ul>
			{
				navData.map((item) => (
					<Link text={item.name} href={item.path} style="primary" />
				))
			}
		</ul>
	</div>
</nav>
